body, html {
    height: 100%;
    background-size: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #334432fd; /* For browsers that do not support gradients */
    background: linear-gradient(#1f281ffd, white);
    background-repeat: no-repeat;
    font-weight: 100;
    line-height: 1.6;
}

.hero-image{
    background-image: linear-gradient(rgba(40, 62, 39, 0), rgba(41, 63, 40, 0.8)), 
    url("https://c0.wallpaperflare.com/preview/652/943/804/close-up-fresh-freshness-garden.jpg");
    height: 75%;
    background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-family: Georgia Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(17, 33, 16, 0.5);
    padding: 10px 20px 10px 20px;
    outline: solid white 5px;
    border-radius: 5px;
  }


.name {
  text-shadow: 2px 2px 1px olive,
  3px 2px 2px white;
  font-size: 66px;
}


.fave {
    font-size: 16px;
    
}

/* 
Edited about me picture size. added more text to body.
*/


.plants {
    float: left;
    padding: 5px 10px 10px 30px;
    border-radius: 50%;
    shape-outside: circle();
    margin: 25px;
}


  ul {
      list-style-type: circle;
      list-style-position: inside;
      cursor: wait;
  }

.h-1 {
    text-align: center;
    font-size: x-large;
 }

 .webabout {
    text-indent: 50px;
    margin: 5px 30px 10px 10px
 }


 .projects{
     text-align: center;
     background-position: center;
     width: 250px;
     height: 150px;
     background-color: #556f52b3;
     border: 5px solid rgb(68, 83, 69);
     border-radius: 10px;
     color: white;
     margin: auto;
 }

 .contactinfo {
     text-align: center;
     font-size: smaller;
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 40px;
 }

 .linked{
     padding: 0 10px 0px 0; /*added padding for better visual*/
 }